/* font-family: 'Roboto', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,400,900');
/* font-family: 'Playfair Display', serif; */
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,650,900');
/* font-family: 'Hammersmith One', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Hammersmith+One');

.wrapper {
  width: 100%;
  max-width: 1024px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  -webkit-box-pack: justify;
     -ms-flex-pack: justify;
  margin: 20px auto;
  box-shadow: 0 5px 10px #828b8b,
              0 -2px 10px #828b8b;
}
.wrapper,
.inner,
.main,
.aside,
.item-content,
.picture {
-webkit-box-sizing: border-box;
        box-sizing: border-box;
}
.main {
  width: 70%;
  padding: 10px 30px 10px 10px;
  font-family: Roboto, Verdana, Helvetica, Arial, sans-serif;
}
.aside {
  width: 30%;
  font-family: "Hammersmith One", Verdana, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  color: #fff;
  background-color: #2b3a50;
}
.item-content {
  margin-top: 10px;
}
.title,
.caption  {
  font-family: "Playfair Display", "Book Antiqua", Palatino, "Times New Roman", Times, serif;
}
.title {
  max-width: 100%;
  text-align: center;
  font-size: 2rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #424242;
}
.caption {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  padding: 0 10px;
  font-size: 1.2rem;
  line-height: 1.5;
  text-transform: capitalize;
  color: #fff;
  letter-spacing: 1px;
  background-color: #2b3a50;
  -webkit-border-radius: 5px / 10px;
     -moz-border-radius: 5px / 10px;
          border-radius: 5px / 10px;
}
.box-inner {
  position: relative;
  max-width: 100%;
}
.aside h3.caption::after,
.box-inner::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  margin-left: -10px;
  width: calc(100% + 10px);
  height: 2px;
  background: #828b8b;
}
.text,
.main li {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
.main ul {
  list-style-type: disc;
  list-style-position:inside;
}
.picture {
  display: block; 
  border-bottom-left-radius: 100px;
  border-top-right-radius: 100px;
}
.address {
  margin: 10px 30px;
  letter-spacing: 1px;
}
.address > a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.aside h3.caption {
  position: relative;
  display: block;
  margin-left: 10px;
  padding: 0;
  background-color: transparent;
}
.caption-aside {
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 5px;
}
.aside ul  {
  max-width: 100%;
  margin-left: 10px;
}
.aside ul li {
  display: inline-block;
  margin-right: 5px;
}
.circle {
  width: 20px;
  height: 20px;
  background-color: #2968bb;
  border-radius: 50%;
}
.circle-progress {
  background-color: #80a7db;
}
